.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    border-bottom: 1px solid;
}

.nav {
    grid-column-start: 3;
    display: flex;
    margin-left: 5rem;
    align-items: center;
}

.nav a {
    padding: .5rem;
    text-decoration: none;
    color: #768EFB;
}

.nav a:hover {
    opacity: .6;
}

